#container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 4fr;
}

#header {
  display: grid;
  grid-column: 2/3;
}

#top {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

#profile {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#bottom {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

#side-bar {
  display: grid;
  grid-row: 1/3;
  grid-template-rows: 1fr 10fr;
}

#title-section {
  display: grid;
  grid-template-columns: 4rem 5rem;
  align-items: center;
}

#title {
  font-size: 30px;
}

#tabs {
  display: grid;
}

.tab {
  display: grid;
  grid-template-columns: 3rem 5rem;
  align-items: center;
}

#settings {
  padding-top: 3em;
}

#main {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

#main-cards {
  display: grid;
  grid-row: 1/3;
}

#card-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

#top-side {
  display: grid;
}

.announcements {
  display: grid;
}

.announcements-cards {
  display: grid;
  grid-template-rows: auto;
}

#bottom-side {
  display: grid;
}

.trending {
  display: grid;
}


.trending-cards {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.cards-pic {
  grid-row: 1/3;
  justify-self: end;
  margin-right: 10px;
}
